@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat';
 }
 
 html{
     scroll-behavior: smooth;
 }
 
 #inicio {
    background-image: url("fondoinicio2.avif");
     background-size:cover;
     background-position: center center;
     height: 100vh;
 }
 
 #inicio .contenido header{
     background-color: #6a2a6e;
     position:fixed;
     width: 100%;
     z-index: 100;
     top: 0;
 }

 .contenido-header img{
    height: auto;
    width: 20%;
 }

 #inicio .contenido header .contenido-header{
     max-width: 1100px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
 }
 
 #inicio .contenido header .contenido-header h1{
    text-align: center ;
    color: #d19dd6;
 }
 
 #inicio .contenido header .contenido-header nav ul{
     list-style: none;
     display: flex;
 }

 #inicio .contenido header .contenido-header nav ul li a{
     text-decoration: none;
     color: #fff;
     margin: -20px 10px;
     font-weight: 600;
     transition: .5s;
 }
 
 #inicio .contenido header .contenido-header nav ul li a:hover{
     color:#d19dd6;
 }
 
 #inicio .contenido header .contenido-header .redes a{
     text-align: center;
     color: #fff;
     display: inline-block;
     margin-left: 10px;
     transition: .5s;
 }
 
 #inicio .contenido header .contenido-header .redes a:hover{
     color: #d19dd6;
 }
 #inicio .contenido header .contenido-header .seleccionado{
     color: #d19dd6;
 }
 
 #inicio .contenido .presentacion{
     max-width: 1100px;
     height: 100vh;
     margin: auto;
     columns: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 #inicio .contenido .presentacion .bienvenidos{
     font-size:25px;
     margin-bottom: 50px;
     text-transform: uppercase;
     letter-spacing: 5px;
 }
 
 #inicio .contenido .presentacion h2{
     font-size: 55px;
     margin-bottom: 25px;
     text-align: center;
 }
 
 #inicio .contenido .presentacion h2 span{
     font-size: 55px;
     color: #5a6c37;
 }
 
 #inicio .contenido .presentacion .descripcion{
     max-width: 700px;
     margin: 25px auto;
     font-size: 18px;
     text-align: center;
 }
 
 #inicio .contenido .presentacion a{
     text-decoration: none;
     display: inline-block;
     margin: 25px;
     padding: 20px 25px;
     border: 2px solid #5a6c37;
     border-radius: 50px;
     color: #5a6c37;
     font-weight: bold;
     text-transform: uppercase;
     transition: .5s;
 }
 
 #inicio .contenido .presentacion a:hover{
     background-color: #6a2a6e;
 }
 
 #icono-nav{
     color: #fff;
     display: none;
 }

main {
    text-align: center;
}

section {
    margin-bottom: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea, select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

@media screen and (max-width:1024px){
    .redes{
        display: none;
    }
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
            background-color: #6a2a6e;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0%;
        padding: 10px 0;
    }

    nav.responsive ul{
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
}
/*estilos para mi boton volver arriba*/

#volverArriba {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #5a6c37;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

/*carrusel zapatillas hombres/ mujer*/
.carousel {
    display: flex;
    overflow: hidden;
    width: 50%; /* Reducido al 75% del tamaño original */
    height: 50%;
    margin: 0 auto;
    position: relative;
}
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%; /* Puedes ajustar esto según tus necesidades */
    max-width: 600px; /* Tamaño máximo del contenedor */
    margin: auto; /* Centrará el contenedor en la página */
}

.carousel-item {
    flex: none;
    width: 100%;
    max-width: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 500px; 
    object-fit: cover; 
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/*galeria zapatillas mujeres*/
#gallery-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.gallery-image {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.1);
}

/* Establece un tamaño fijo para las imágenes */
.gallery-image img {
    width: 100%;
    height: 200px; /* Por ejemplo, ajusta la altura deseada */
    object-fit: cover; /* Esto asegurará que la imagen se ajuste al contenedor manteniendo su relación de aspecto */
}

.gallery-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-image:hover::after {
    opacity: 0.5;
}

.gallery-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-image:hover p {
    opacity: 1;
}